.Banner-image img{
    width: 100%;
    /* height: 50%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* object-fit: cover; */
}
.welcome{
    text-align: center;
    
}
.welcome h1{
    font-size: 20px;
    font-weight: 600;
}
.welcome p{
color: #666666;
font-size: 10px;
font-weight: 600;
margin-top: -10px;
margin-left: 20px;
margin-right: 20px;
}
.video-popup{
    /* display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}
.video-popup video{
width: 300px;
height: 200px;

}

.questions-wrapper{
 
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}
.questions{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.questions img{
    width: 140px;
    height: 80px;
    margin-left: 16px;
}
.questions video{
    width: 120px;
    height: 80px;
    margin-left: 16px;
}
.questions p{
    margin-left: 10px;
    font-size: 8px;
    font-weight: 600;

}
.layout{
    background: #666666;
}
.layout p{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
margin-left: 16px;
}
.layout-section{
  display: flex;
margin-left: 16px;
margin-bottom: 20px;
}
.btn{
color: #FFFFFF;
font-size: 10px;
font-weight: bold;
font-style: normal;
background: #FF6600;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
height:20px;
width: 75px;
}
.list-section{
    margin-top: -5px;

}
.list-section li{
    color: #FFFFFF;
    font-size: 6px;
    font-weight: 600;
    font-style: normal;
}

@media screen and (min-width:768px) {
.welcome{
text-align: center;    
}
.welcome h1{
    font-size: 42px;
    font-weight: 600;
}
.welcome p{
color: #666666;
font-size: 15px;
font-weight: 600;
margin-top: -25px;
margin-left: 20px;
margin-right: 20px;
}
.questions-wrapper{
    gap:10px;
 padding:10px;    
}
.questions{
flex-direction:column;
width: 18.8%;

}
.questions img{
    margin-left: 0px;
}
.video-popup{
    text-align: center;
}
.video-popup video{
width: 400px;
height: 200px;
margin-right: 50px;
top: 776px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;
}
.questions video{
    width: 100%;
    margin-left:0;
}
.questions p{
    font-size: 10px;
    font-weight: 600;
    width:96%;
    margin-left:0px;

}
.layout{
    background: #666666;
}
.layout p{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
margin-left: 20px;
}
.layout-section{
 display: flex;
margin-left: 70px;
margin-bottom: 20px;
}
.btn{
color: #FFFFFF;
font-size: 18px;
font-weight: bold;
font-style: normal;
background: #FF6600;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
height:40px;
width: 150px;
}
.list-section{
    margin-top: -10px;
    margin-left: 0px;

}
.list-section li{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
}
    
}

@media (min-width: 820px){
    .questions{
        width: 19%;
    }
    .questions p{
        width: 89%;
    }
   .video-popup{
    text-align: center;
}
.video-popup video{
width: 400px;
height: 200px;
margin-right: 50px;
top: 776px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;
} 
    
}


@media screen and (min-width:1024px){
    .Banner-image{
        height: 200px;
    }
.Banner-image img{
    height: 100%;
    object-fit: fill;
}
    .welcome{
text-align: center;
    
}
.welcome h1{
    font-size: 64px;
    font-weight: 600;
}
.welcome p{
color: #666666;
font-size: 20px;
font-weight: 600;
margin-top: -25px;
margin-left: 20px;
margin-right: 20px;
}
/* .questions-wrapper{
display: flex;
margin-top: -20px;
width: 100%;
        
} */
.questions  {
width: 19%;
height: 50%;
}
.questions img{
    width: 220px;
    height: 135px;
}
.video-popup{
    text-align: center;
}
.video-popup video{
width: 600px;
height: 300px;
/* left: 96px; */
top: 776px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;
}
.questions video{
    width: 100%;
    height: 100%;
}
.questions p{
    font-size: 10px;
    font-weight: 600;

}
.layout{
    background: #666666;
}
.layout p{
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
margin-left: 20px;
}
.layout-section{
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
}
.btn{
color: #FFFFFF;
font-size: 32px;
font-weight: bold;
font-style: normal;
background: #FF6600;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
height: 60px;
width: 220px;
}
.list-section{
    margin-top: -20px;
    margin-left: 70px;

}
.list-section li{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

}